################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ForQuilt.App/obj/Debug/App.g.i.cs
/ForQuilt.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ForQuilt.App/obj/Debug/ForQuilt_Content.g.i.cs
/ForQuilt.App/obj/Debug/ForQuilt_MarkupCompile.i.cache
/ForQuilt.App/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ForQuilt.App/obj/Debug/Views/AboutView.g.i.cs
/ForQuilt.App/obj/Debug/Views/AddImageCapturedFromCameraView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/ColorPickControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawingThicknessControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawLineControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawShapeControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/HorizontalToolBoxControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/RectangleSelectionControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/RotationControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/TimerControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/VerticalToolBoxControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/WorkAreaControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/LicensesView.g.i.cs
/ForQuilt.App/obj/Debug/Views/MainView.g.i.cs
/ForQuilt.App/obj/Debug/Views/MessageDialogView.g.i.cs
/ForQuilt.v11.suo
/ForQuilt.v11.suo
/ForQuilt.App/obj/Debug/ForQuilt_Content.g.i.cs
/ForQuilt.App/obj/Debug/ForQuilt_MarkupCompile.i.cache
/ForQuilt.App/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ForQuilt.App/obj/Debug/Views/AboutView.g.i.cs
/ForQuilt.App/obj/Debug/Views/AddImageCapturedFromCameraView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/ColorPickControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawingThicknessControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawLineControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/DrawShapeControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/HorizontalToolBoxControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/RectangleSelectionControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/RotationControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/TimerControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/VerticalToolBoxControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/Controls/WorkAreaControlView.g.i.cs
/ForQuilt.App/obj/Debug/Views/LicensesView.g.i.cs
/ForQuilt.App/obj/Debug/Views/MainView.g.i.cs
/ForQuilt.App/obj/Debug/Views/MessageDialogView.g.i.cs
/ForQuilt.App/obj/Debug/ForQuilt_Content.g.i.cs
/ForQuilt.App/obj/Debug/ForQuilt_MarkupCompile.i.cache
